root {
    --background-color: lightslategrey;
    --font
}

body {
    display: flex;
    background-color: lightslategrey;
    justify-content: center;
    flex-direction: row;
}

/* #quizlet {

} */