root {
    --background-color: lightslategrey;
    
}

body {
    display: flex;
    background-color: var(--lightslategrey);
    justify-content: center;
    flex-direction: row;
}

/* #quizlet {

} */