root {
    --background-color: lightslategrey;
    -moz-font-feature-settings: ;
}

body {
    display: flex;
    background-color: lightslategrey;
    justify-content: center;
    flex-direction: row;
}

/* #quizlet {

} */